.about-logo-container {
	display: flex;
	justify-content: left;
	padding-top: 25px;
}

.about-logo {
	display: flex;
	position: fixed;
	border: 1px solid white;
	border-radius: 50%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	top: 4vh;
}

.mail-container {
	display: flex;
	justify-content: center;
	height: 100%;
	margin-top: 6rem;

}

.skillsection {
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 6px;
	font-weight: 900;
	padding: .6rem 5rem;
	background-color: #f4d150;
	box-shadow: 2px 8px 22px rgb(192, 192, 192);
	border-radius: 2rem;
}
.incontainer
{
	display: grid;
	justify-content: center;
	margin: 7rem auto;
	width: 70%;
	grid-template-columns: repeat(3, auto);
	/* border: 2px solid green; */
	grid-gap: 4rem;
	
}

.imgs
{
	cursor: pointer;
	border: 5px solid white;
}
.imgs:hover
{
	border: none;
	box-shadow: 12px 12px 22px gray;
	transition: 800ms;
}
@media (max-width: 600px) {
	.incontainer {
		grid-template-columns: repeat(2, auto);
	}
	.skillsection{
		padding: 1rem 1rem;
	}
}

